<?xml version="1.0" encoding="UTF-8"?>
<launch4jConfig>
  <dontWrapJar>false</dontWrapJar>
  <headerType>gui</headerType>
  <jar>C:\Users\cfca5\Documents\NetBeansProjects\MVC_CRUD\dist\MVC_CRUD.jar</jar>
  <outfile>C:\Users\cfca5\Documents\NetBeansProjects\MVC_CRUD\crud.exe</outfile>
  <errTitle></errTitle>
  <cmdLine></cmdLine>
  <chdir>.</chdir>
  <priority>normal</priority>
  <downloadUrl></downloadUrl>
  <supportUrl></supportUrl>
  <stayAlive>false</stayAlive>
  <restartOnCrash>false</restartOnCrash>
  <manifest></manifest>
  <icon>C:\Users\cfca5\Downloads\1_2eBdh0vLZjUyCDF6x1EqvQ-_1_.ico</icon>
  <jre>
    <path>%JAVA_HOME%;%PATH%</path>
    <requiresJdk>false</requiresJdk>
    <requires64Bit>false</requires64Bit>
    <minVersion>1.8</minVersion>
    <maxVersion></maxVersion>
  </jre>
</launch4jConfig>